.containerPopup1 {
  max-width: 671px;
  margin: 0 auto;
  padding: 0 15px;
}

.popup__question {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
          box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
  border-radius: 20px;
  width: 100%;
}

.popup__question h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 155%;
  text-align: center;
  text-transform: uppercase;
  color: #4B4B4B;
  padding: 47px 11.9225% 33px 11.9225%;
  text-align: center;
}

@media (max-width: 767px) {
  .popup__question h2 {
    font-size: calc(14px + 20.4 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .popup__question h2 {
    font-size: calc(14px + 12 * (100vw / 1200));
  }
}

.record {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.record h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 9.38897%;
  margin: 34px 0 0 0;
}

@media (max-width: 767px) {
  .record h2 {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .record h2 {
    font-size: calc(20px + 4 * (100vw / 1200));
  }
}

.record .arrow {
  position: absolute;
  top: 100px;
  left: 560px;
  width: 30px;
  height: 30px;
}

.record .popupLink {
  background: linear-gradient(135.31deg, #C1B4A0 -63.03%, #F7E7D8 47.09%, #DECCB2 118.11%), linear-gradient(95.22deg, #FFD278 12.45%, #F5D7A2 47.26%, #FFD07E 100%);
  border-radius: 12.0623px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #856120;
  text-decoration: none;
  padding: 29px 17.88376%;
  margin: 70px 0 0 0;
}

@media (max-width: 767px) {
  .record .popupLink {
    font-size: calc(15px + 1.7 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .record .popupLink {
    font-size: calc(15px + 1 * (100vw / 1200));
  }
}

.record small {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 125px;
  margin: 30px 0 36px 0;
}

@media (max-width: 767px) {
  .record small {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .record small {
    font-size: calc(10px + 6 * (100vw / 1200));
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  .popup__question h2 {
    font-size: calc(26px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  .popup__question h2 {
    font-size: calc(26px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  .record h2 {
    font-size: calc(24px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  .record h2 {
    font-size: calc(24px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  .record .popupLink {
    font-size: calc(16px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  .record .popupLink {
    font-size: calc(16px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  .record small {
    font-size: calc(16px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  .record small {
    font-size: calc(16px + 0 * (100vw / 1200));
  }
}

@media (max-width: 650px) {
  .record .arrow {
    top: 100px;
    left: 500px;
  }
}

@media (max-width: 570px) {
  .record .arrow {
    top: 100px;
    left: 450px;
  }
}

@media (max-width: 510px) {
  .record .arrow {
    top: 120px;
    left: 400px;
  }
}

@media (max-width: 470px) {
  .popup__question h2 {
    padding: 30px 0;
  }
  .record .arrow {
    top: 120px;
    left: 330px;
  }
}

@media (max-width: 400px) {
  .record .arrow {
    top: 130px;
    left: 290px;
  }
  .record h2 {
    font-size: 15px;
  }
  .record small {
    padding: 0 30px;
  }
}

@media (max-width: 350px) {
  .record .arrow {
    display: none;
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.popup__body {
  margin: 64px 0 0 0;
  position: relative;
  top: 0;
  left: 0;
  max-width: 671px;
  max-height: 520px;
  border-radius: 20px;
  background: url("https://static.tildacdn.com/tild3963-3536-4433-b463-393964643636/popup.png") top/cover no-repeat;
}

.popup__body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__body__container .arrow {
  position: absolute;
  top: 216px;
  left: 560px;
  width: 40px;
  height: 40px;
}

.popup__body__container .popup__question {
  min-width: 671px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  padding: 47px 0 33px 0;
  -webkit-box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
          box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
}

.popup__body__container .popup__question h2 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 155%;
}

.popup__body__container h3 {
  padding: 34px 63px 70px 63px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 155%;
  text-align: center;
}

.popup__body__container h3 span {
  font-weight: 500;
}

.popup__body__container a {
  text-decoration: none;
  background: linear-gradient(135.31deg, #C1B4A0 -63.03%, #F7E7D8 47.09%, #DECCB2 118.11%), linear-gradient(95.22deg, #FFD278 12.45%, #F5D7A2 47.26%, #FFD07E 100%);
  border-radius: 12.0623px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  padding: 28px 0;
  width: 81.96721%;
  text-align: center;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  -webkit-box-shadow: linear-gradient(120.38deg, #C1B4A0 30.49%, #DECCB2 93.2%), #CF9A3C;
          box-shadow: linear-gradient(120.38deg, #C1B4A0 30.49%, #DECCB2 93.2%), #CF9A3C;
  border: none;
  color: #856120;
}

.popup__body__container small {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 125px;
  margin: 25px 0;
}

@media (max-width: 630px) {
  .popup__body {
    max-width: 531px;
    max-height: 520px;
  }
  .popup__body__container .arrow {
    position: absolute;
    top: 230px;
    left: 400px;
  }
  .popup__body__container .popup__question {
    min-width: 531px;
  }
  .popup__body__container .popup__question h2 {
    font-size: 17px;
  }
  .popup__body__container h3 {
    padding: 34px 63px 70px 63px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 155%;
    text-align: center;
  }
  .popup__body__container a {
    padding: 28px 0;
    max-width: 350px;
  }
  .popup__body__container small {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
    margin: 25px 0;
  }
}

@media (max-width: 450px) {
  .popup__body {
    max-width: 371px;
    max-height: 520px;
  }
  .popup__body__container .arrow {
    display: none;
  }
  .popup__body__container .popup__question {
    min-width: 371px;
  }
  .popup__body__container .popup__question h2 {
    text-align: center;
    font-size: 15px;
    line-height: 155%;
  }
  .popup__body__container h3 {
    padding: 34px 30px 30px 30px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 155%;
    text-align: center;
  }
  .popup__body__container a {
    padding: 28px 0;
    max-width: 350px;
    font-size: 13px;
  }
  .popup__body__container small {
    font-size: 12px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
    margin: 25px 0;
    padding: 0 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: url("https://static.tildacdn.com/tild3632-3730-4131-b665-373537356538/92dc3607bd5e0ec4c69c.png") top/cover no-repeat;
  background-size: round auto;
  font-family: 'El Messiri', sans-serif;
  padding: 50px 0;
  overflow-x: hidden;
  color: #505050;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.containerPop {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  max-width: 100%;
  max-height: 100%;
}

header .header__body {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

header .header__body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px 0;
}

header .header__body__container h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 135%;
}

@media (max-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(10px + 51 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(10px + 30 * (100vw / 1200));
  }
}

header .header__body__container h1 span {
  color: #0A96A8;
}

header .header__body__container h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  line-height: 155%;
  color: #4B4B4B;
}

@media (max-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

header .header__body__container h2 span {
  font-weight: 400;
}

main {
  margin: 75px 0 0 0;
}

main .main__body {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

main .main__body__container .main__question {
  position: relative;
  min-height: 443px;
  background: url("https://static.tildacdn.com/tild3963-3536-4433-b463-393964643636/popup.png") top/cover no-repeat;
  border-radius: 20px;
}

main .main__body__container .main__question .question {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 66px 15px 51px;
  border-radius: 20px;
  -webkit-box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
          box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
}

main .main__body__container .main__question .question h1 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
}

@media (max-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

main .main__body__container .main__question .question .questionNumber {
  margin: 0 100px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 66.8919px;
  line-height: 135%;
  color: #E2D0BF;
}

@media (max-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(16.5px + 85.66623 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(16.5px + 50.3919 * (100vw / 1200));
  }
}

main .main__body__container .main__question .question .questionNumber::before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0 21px 0 0;
  height: 1px;
  background-color: #E2D0BF;
}

main .main__body__container .main__question .answers {
  padding: 29px 66px 75px 52px;
}

main .main__body__container .main__question .answers .answer {
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 67.18182%;
}

main .main__body__container .main__question .answers .answer .answerOne {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 155%;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  padding: 16px 15px 16px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 767px) {
  main .main__body__container .main__question .answers .answer .answerOne {
    font-size: calc(2px + 30.6 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  main .main__body__container .main__question .answers .answer .answerOne {
    font-size: calc(2px + 18 * (100vw / 1200));
  }
}

main .main__body__container .main__question .answers .answer .answerOne:hover {
  background: #FFFFFF;
  color: #505050;
}

main .main__body__container .main__question .answers .answer .answerEnter {
  background: #FFFFFF;
  color: #505050;
}

main .main__body__container .main__question button {
  position: absolute;
  cursor: pointer;
  right: 52px;
  bottom: 68px;
  min-width: 19.91667%;
  min-height: 78px;
  background: linear-gradient(135.31deg, #C1B4A0 -63.03%, #F7E7D8 47.09%, #DECCB2 118.11%), #FFFFFF;
  border-radius: 10px;
  border: solid 0px #DECCB2;
}

main .main__body__container .main__question button .buttonLink {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #4B4B4B;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main .main__body__container .main__question button .buttonLink {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  main .main__body__container .main__question button .buttonLink {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

main .main__body__container .main__question button .buttonLink .text {
  text-transform: uppercase;
}

.answer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.answer3 .answerTwe {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 155%;
  color: white;
  border-radius: 5px;
  padding: 16px 15px 16px 25px;
}

@media (max-width: 767px) {
  .answer3 .answerTwe {
    font-size: calc(2px + 30.6 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .answer3 .answerTwe {
    font-size: calc(2px + 18 * (100vw / 1200));
  }
}

.answer3 .answerTwe span {
  font-weight: 500;
}

.main__question3 {
  min-height: 443px;
  background: url("https://static.tildacdn.com/tild3963-3536-4433-b463-393964643636/popup.png") top/cover no-repeat;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__question3 .question {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 66px 15px 51px;
  border-radius: 20px;
  -webkit-box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
          box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
}

.main__question3 .question h1 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
}

@media (max-width: 767px) {
  .main__question3 .question h1 {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .question h1 {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

.main__question3 .question .questionNumber {
  margin: 0 100px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 66.8919px;
  line-height: 135%;
  color: #E2D0BF;
}

@media (max-width: 767px) {
  .main__question3 .question .questionNumber {
    font-size: calc(16.5px + 85.66623 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .question .questionNumber {
    font-size: calc(16.5px + 50.3919 * (100vw / 1200));
  }
}

.main__question3 .question .questionNumber::before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0 21px 0 0;
  height: 1px;
  background-color: #E2D0BF;
}

.main__question3 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  width: 239px;
  height: 78px;
  background: linear-gradient(135.31deg, #C1B4A0 -63.03%, #F7E7D8 47.09%, #DECCB2 118.11%), #FFFFFF;
  border-radius: 10px;
  border: solid 0px #DECCB2;
  margin: 39px 0 40px 0;
}

.main__question3 button .buttonLink {
  text-decoration: none;
  color: #E2D0BF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  width: 239px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  align-items: center;
}

@media (max-width: 767px) {
  .main__question3 button .buttonLink {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 button .buttonLink {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

.main__question3 button .buttonLink .text {
  text-transform: uppercase;
}

.main__question3 .consult {
  position: relative;
  padding: 5.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__question3 .consult h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 11.6%;
  margin: 0 0 37px 0;
}

@media (max-width: 767px) {
  .main__question3 .consult h3 {
    font-size: calc(10px + 17 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .consult h3 {
    font-size: calc(10px + 10 * (100vw / 1200));
  }
}

.main__question3 .consult .arrow {
  position: absolute;
  left: 800px;
  top: 250px;
}

.main__question3 .consult .arrow img {
  width: 50px;
  height: 50px;
}

.main__question3 .consult h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 22.8%;
  margin: 0 0 7% 0;
}

@media (max-width: 767px) {
  .main__question3 .consult h2 {
    font-size: calc(14px + 17 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .consult h2 {
    font-size: calc(14px + 10 * (100vw / 1200));
  }
}

.main__question3 .consult a {
  padding: 28px 18%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #856120;
  margin: 0 0 3% 0;
}

.main__question3 .consult small {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 28.9%;
}

@media (max-width: 767px) {
  .main__question3 .consult small {
    font-size: calc(6px + 17 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .consult small {
    font-size: calc(6px + 10 * (100vw / 1200));
  }
}

.main__question3 .answers {
  padding: 29px 66px 75px 52px;
  padding-bottom: 14px;
}

.main__question3 .answers .answer {
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 67.18182%;
}

.main__question3 .answers .answer .answerOne {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 155%;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  padding: 16px 15px 16px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main__question3 .answers .answer .answerOne {
    font-size: calc(2px + 30.6 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .answers .answer .answerOne {
    font-size: calc(2px + 18 * (100vw / 1200));
  }
}

.main__question3 .answers .answer .answerOne:hover {
  background: #FFFFFF;
  color: #505050;
}

.main__question3 .answers .answer .answerEnter {
  background: #FFFFFF;
  color: #505050;
}

.main__question3 .linkpopap2 {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: static !important;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 40px 0;
  min-width: 19.91667%;
  min-height: 78px;
  background: linear-gradient(135.31deg, #C1B4A0 -63.03%, #F7E7D8 47.09%, #DECCB2 118.11%), #FFFFFF;
  border-radius: 10px;
  border: solid 0px #DECCB2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.main__question3 .linkpopap2 .text {
  text-transform: uppercase;
  color: #4B4B4B;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  font-family: 'Montserrat';
  font-style: normal;
}

@media (max-width: 767px) {
  .main__question3 .linkpopap2 .text {
    font-size: calc(5px + 32.3 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 767px) {
  .main__question3 .linkpopap2 .text {
    font-size: calc(5px + 19 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  header .header__body__container {
    gap: 15px 0;
  }
  header .header__body__container h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(40px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(40px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  header .header__body__container h2 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(24px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(24px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  main .main__body__container .main__question .question h1 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(24px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(24px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: 66.8919px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(66.8919px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(66.8919px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  main .main__body__container .answers .answer .answerOne {
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  main .main__body__container .answers .answer .answerOne {
    font-size: calc(20px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  main .main__body__container .answers .answer .answerOne {
    font-size: calc(20px + 0 * (100vw / 1200));
  }
}

@media (min-width: 1200px) {
  main .main__body button a {
    font-size: 24px;
  }
}

@media (min-width: 1200px) and (max-width: 767px) {
  main .main__body button a {
    font-size: calc(24px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (min-width: 1200px) and (min-width: 767px) {
  main .main__body button a {
    font-size: calc(24px + 0 * (100vw / 1200));
  }
}

@media (max-width: 900px) {
  main .main__body__container .main__question3 .consult .arrow {
    left: 650px;
    top: 210px;
  }
}

@media (max-width: 750px) {
  main .main__body__container .main__question3 .consult .arrow {
    left: 580px;
    top: 210px;
  }
}

@media (max-width: 660px) {
  main .main__body__container .main__question3 .consult .arrow {
    left: 500px;
    top: 210px;
  }
}

@media (max-width: 560px) {
  main .main__body__container .main__question3 .consult .arrow {
    left: 400px;
    top: 190px;
  }
}

@media (max-width: 460px) {
  main .main__body__container .main__question3 .consult .arrow {
    display: none;
  }
}

@media (max-width: 470px) {
  main .main__body__container .main__question .question {
    padding: 15px;
  }
  main .main__body__container .main__question3 .question {
    padding: 15px;
  }
}

@media (max-width: 630px) {
  header .header__body__container {
    gap: 15px 0;
  }
  header .header__body__container h1 {
    font-size: 40px;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(40px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(40px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  header .header__body__container h2 {
    font-size: 24px;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(24px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(24px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(66.8919px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question .question .questionNumber {
    font-size: calc(66.8919px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question .answers {
    padding-bottom: 14px;
  }
  main .main__body__container .main__question .answers .answer {
    width: 100%;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question .answers .answer .answerOne {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question .answers .answer .answerOne {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question .main__question .question h1 {
    font-size: calc(17px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question .main__question .question h1 {
    font-size: calc(17px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question button {
    position: static !important;
    margin: 0 0 30px 0;
    padding: 0 15px;
  }
  main .main__body__container .main__question button a .text {
    gap: 5px;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question button a .text {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question button a .text {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question3 .question h1 {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question3 .question h1 {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question3 .question .questionNumber {
    font-size: calc(66.8919px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question3 .question .questionNumber {
    font-size: calc(66.8919px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question3 .answers {
    padding-bottom: 14px;
  }
  main .main__body__container .main__question3 .answers .answer3 {
    width: 100%;
  }
  main .main__body__container .main__question3 .answers .answer3 .answerTwe {
    padding: 2px;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question3 .answers .answer3 .answerTwe {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question3 .answers .answer3 .answerTwe {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question3 .main__question .question h1 {
    font-size: calc(17px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question3 .main__question .question h1 {
    font-size: calc(17px + 0 * (100vw / 1200));
  }
}

@media (max-width: 630px) {
  main .main__body__container .main__question3 button {
    max-width: 200px;
  }
  main .main__body__container .main__question3 button .buttonLink {
    gap: 15px;
    padding: 0 15px;
  }
}

@media (max-width: 630px) and (max-width: 767px) {
  main .main__body__container .main__question3 button .buttonLink .text {
    font-size: calc(15px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 630px) and (min-width: 767px) {
  main .main__body__container .main__question3 button .buttonLink .text {
    font-size: calc(15px + 0 * (100vw / 1200));
  }
}

@media (max-width: 500px) {
  header .header__body__container h1 {
    font-size: 30px;
    line-height: 135%;
  }
}

@media (max-width: 500px) and (max-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(30px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 500px) and (min-width: 767px) {
  header .header__body__container h1 {
    font-size: calc(30px + 0 * (100vw / 1200));
  }
}

@media (max-width: 500px) {
  header .header__body__container h2 {
    font-size: 16px;
  }
}

@media (max-width: 500px) and (max-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(16px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 500px) and (min-width: 767px) {
  header .header__body__container h2 {
    font-size: calc(16px + 0 * (100vw / 1200));
  }
}

@media (max-width: 500px) {
  main .main__body__container .main__question .question {
    padding: 15px 0px 15px 15px;
    border-radius: 20px;
    -webkit-box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
            box-shadow: 0px -1px 43px rgba(99, 99, 99, 0.16);
  }
  main .main__body__container .main__question .question h1 {
    font-size: 14px;
  }
}

@media (max-width: 500px) and (max-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 500px) and (min-width: 767px) {
  main .main__body__container .main__question .question h1 {
    font-size: calc(14px + 0 * (100vw / 1200));
  }
}

@media (max-width: 500px) {
  main .main__body__container .main__question3 .question {
    padding: 15px 0px 15px 15px;
  }
  main .main__body__container .main__question3 .question h1 {
    font-size: 14px;
  }
}

@media (max-width: 500px) and (max-width: 767px) {
  main .main__body__container .main__question3 .question h1 {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1200));
  }
}

@media (max-width: 500px) and (min-width: 767px) {
  main .main__body__container .main__question3 .question h1 {
    font-size: calc(14px + 0 * (100vw / 1200));
  }
}
/*# sourceMappingURL=style.css.map */